<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<nav>
		<ul>
			<li></li>
			<li></li>
			<li th:each="item : ${page.paginas}">
				<span th:if="${item.actual}" th:text="${item.numero}"></span>
				<a th:if="${not item.actual}" th:href="@{${page.url}(page=${item.numero-1})}" th:text="${item.numero}"></a>
			</li>
			<li>
			</li>
			<li>
			</li>
		</ul>
	</nav>
	<nav aria-label="Page navigation example" th:fragment="paginator">
		<ul class="pagination pagination-sm">
			<li class="page-item" th:classappend="${page.first ? 'disabled' : ''}">
				<span class="page-link" th:if="${page.first}">&laquo;</span>
				<a class="page-link" th:if="${!page.first}" th:href="@{${page.url}(page=0)}">&laquo;</a>
			</li>
			<li class="page-item" th:classappend="${!page.hasPrevious ? 'disabled' : ''}">
				<span class="page-link" th:if="${!page.hasPrevious}" th:text="'<'"></span>
				<a class="page-link" th:if="${page.hasPrevious}" th:href="@{${page.url}(page=${page.paginaActual-2})}" th:text="'<'"></a>
			</li>
			<li class="page-item" th:each="item : ${page.paginas}" th:classappend="${item.actual ? 'active' : ''}">
				<span class="page-link" th:if="${item.actual}" th:text="${item.numero}"></span>
				<a class="page-link" th:if="${!item.actual}" th:href="@{${page.url}(page=${item.numero-1})}" th:text="${item.numero}"></a>
			</li>
			<li class="page-item" th:classappend="${!page.hasNext ? 'disabled' : ''}">
				<span class="page-link" th:if="${!page.hasNext}" th:text="'>'"></span>
				<a class="page-link" th:if="${page.hasNext}" th:href="@{${page.url}(page=${page.paginaActual})}" th:text="'>'"></a>
			</li>
			<li class="page-item" th:classappend="${page.last ? 'disabled' : ''}">
				<span class="page-link" th:if="${page.last}">&raquo;</span>
				<a class="page-link" th:if="${!page.last}" th:href="@{${page.url}(page=${page.totalPaginas-1})}">&raquo;</a>
			</li>
		</ul>
	</nav>
</body>
</html>