<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head"></head>
<body>
	<header th:replace="layout/layout::header"></header>
	<div class="container-fluid">
		<div class="card mt-3">
			<div class="card-header bg-dark">
				<ul class="nav nav-tabs card-header-tabs">
					<li class="nav-item">
						<a class="nav-link active" href="#" th:text="${titulo}"></a>
					</li>
				</ul>
			</div>
			<div class="card-body">
			
			
			
			</div>
		</div>
	</div>
</body>
</html>