<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout::head"></head>
<body>
	<header th:replace="layout/layout::header"></header>
	<div class="container-fluid">
		<div class="card mt-3 col-sm-6">
			<img th:if="${#strings.length(cliente.imagen) > 0}" class="card-img-top mt-3" th:src="@{'/uploads/' + ${cliente.imagen}}" th:alt="${cliente.imagen}">
			<div class="card-body">
				<h5 class="card-title" th:text="${titulo}"></h5>
				<ul class="list-group">
				<li class="list-group-item" th:text="${cliente.email}"></li>
				<li class="list-group-item" th:text="${cliente.createdAt}"></li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>